<form action="/add/<%= option %>" method="POST" class="option-form">
  <%- include('errors') %>
  <div>
    <label for="<%= inputId %>"
      >Insert new <%= option %>. If multiple are needed, separate with a
      comma.</label
    >
    <input
      type="text"
      id="<%= inputId %>"
      name="<%= inputId %>"
      value="<%= oldName %>"
    />
  </div>
  <div class="form-btns">
    <a href="<%= cancelUrl %>">Cancel</a>
    <button type="submit">Submit</button>
  </div>
</form>
