<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/reset.css" />
    <title><%= title%></title>
  </head>
  <body>
    <div class="title-details-container">
      <%- include('partials/header') %>
      <div class="title-details">
        <h2><%= game.name %> <span>(<%= game.year %>)</span></h2>
        <img src="<%= game.cover_art  || '/images/placeholder.png' %>" />
        <div class="genres-and-devs">
          <div>
            <h4>Genre(s):</h4>
            <ul>
              <% game.genres.forEach(genre => { %>
              <li><%= genre %></li>
              <% }) %>
            </ul>
          </div>
          <div>
            <h4>Developer(s):</h4>
            <ul>
              <% game.developers.forEach(developer => { %>
              <li><%= developer %></li>
              <% }) %>
            </ul>
          </div>
        </div>
        <div class="edit-links">
          <a class="btn-animation" href="/edit/title/<%= game.id %>"
            ><span>Edit</span></a
          >
          <form action="/delete/title/<%= game.id %>" method="POST">
            <button class="btn-animation" type="submit">
              <span>Delete</span>
            </button>
          </form>
        </div>
      </div>
      <%- include('partials/footer', {projectName: 'inventory-app'}) %>
    </div>
  </body>
</html>
