<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/reset.css" />
    <title><%= title%></title>
  </head>
  <body>
    <div class="titles-container">
      <%- include('partials/header') %>
      <div>
        <h2><%= title %></h2>
        <div class="titles">
          <% games.forEach(game => { %>
          <a class="title-card" href="all/<%= game.id %>">
            <img src="<%= game.cover_art %>" />
            <div class="title-card-details">
              <h3><%= game.name %> <span>(<%= game.year %>)</span></h3>
              <div>
                <div>
                  <h4>Genre(s):</h4>
                  <ul>
                    <% game.genres.forEach(genre => { %>
                    <li><%= genre %></li>
                    <% }) %>
                  </ul>
                </div>
                <div>
                  <h4>Developer(s):</h4>
                  <ul>
                    <% game.developers.forEach(developer => { %>
                    <li><%= developer %></li>
                    <% }) %>
                  </ul>
                </div>
              </div>
            </div>
          </a>
          <% }) %>
        </div>
        <a class="back-link" href="<%= backPath %>">&lt;&lt; <%= backMsg %></a>
      </div>
      <%- include('partials/footer', {projectName: 'inventory-app'}) %>
    </div>
  </body>
</html>
